/* Original Things */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Hero';
    margin: 0;
    height: 100%;
    flex: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* Header and Footer */
.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 40px;
}

.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

/* Within Header */
.top {
    display: flex;
}

.logo {
    font-size: 24px;
    margin-right: auto;
    font-weight: bolder;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.subtext {
    text-align: left;
    margin-bottom: 10px
}

.right {
    width: 100px;
    height: 50px;
    background-color: rgb(94, 92, 92);
    padding: 50px;
}

.header-button {
    align-self: flex-start;
    border: none; 
}

/* Picture Section */
h2 {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: #1f2937;
}

/* Quote Section */
.second {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 75px 200px;
}

.quote {
    font-family: 'Quote';
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

.source {
    font-weight: 1000;
    text-align: right;
    font-size: 15px;
}

/*Blue Rectangle Section*/
.third{
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.blue-rectangle {
    display: flex;
    background-color: #3882f6;
    width: 750px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.br-left{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3, .br-words{
    color: white;
    display: flex;
    text-align: left;
    margin: 0;
}

.br-right{
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.br-button{
    text-align: center;
    border-width: 2px;
    border-color: #f9faf8;
    border-style: solid;
    justify-self: center;
    align-self: center;
    justify-content: center;
}